fastapi
uvicorn
pydantic
pydantic-settings
python-multipart
sqlalchemy
qdrant-client
EbookLib
beautifulsoup4
lxml
Pillow
httpx
nltk
regex
python-dotenv
typing_extensions
rank-bm25
pandas
tqdm
evaluate
bert-score
nltk
numpy
scipy
matplotlib
seaborn
plotly
kaleido